=render "shared/navigation"
%h2 Order Summary
%table
  %tr
    %td name
    %td price
    %td quantity
    %td sum
  - @items.each do |it|
    %tr
      %td{ :style => "border: 1px solid;" }= it.product.name
      %td{ :style => "border: 1px solid;" }= it.product.price
      %td{ :style => "border: 1px solid;" }= it.quantity
      %td{ :style => "border: 1px solid;" }= it.quantity*it.product.price
%p Notice:
%p We're running short on time, funds & programmers, so take a calc and sum it all up yourself (Casio oldschool style, baby!). Be precise, add $10 standard flat shipping rate. And don't forget to tip well.
%hr
%h3 Postal data
%p= @cart.firstname + " " + @cart.lastname
%p= @cart.street
%p= @cart.zipcode + " " + @cart.city
%p= @cart.country
%hr
%p{ :style => "margin: 0 2px; display: inline;" }= link_to "<< back to checkout", checkout_cart_path
%p{ :style => "margin: 0 2px; display: inline;" }= link_to "place order >>", order_cart_path

